<html>
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Awesome Form</title>
        <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    </head>
    <body>
        <h1 style="font-size:10vw;">Super Realistic Form</h1>
        <form method="POST" enctype="multipart/form-data">
            <label for="username"
				   style="font-size:5vw;">Username:</label><br>
            <input type="text" id="username" name="username" style="font-size:5vw;"><br>
            <label for="password" style="font-size:5vw;">Password:</label><br>
            <input type="password" id="password" name="password" style="font-size:5vw;"><br>
            <input type="file" name="file" style="font-size:5vw;"><br>
            <input type="submit" value="Submit" style="font-size:5vw;">
        </form>
    </body>
</html>
