<html>
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tank u for trewelin wiss DEUTSCHE BAAAHN!</title>
        <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    
		<script src="https://unpkg.com/htmx.org@1.6.1"></script>
	</head>
    <body>
		<div id="status-div">
			{% include 'partials/status.html' %}
		<div>
		<button class="px-3 py-1 bg-blue-600 text-white ml-4"
				style="font-size:5vw;"
                hx-get="/status"
				hx-target="#status-div">refresh</button>
		<button class="px-3 py-1 bg-blue-600 text-white ml-4"
				style="font-size:5vw;"
				hx-get="/start"
				hx-target="#status-div">Start Raffle</button>
		<button class="px-3 py-1 bg-blue-600 text-white ml-4"
				style="font-size:5vw;"
				hx-get="/restart"
				hx-target="#status-div">Reset Raffle</button>
		</div>
    </body>
</html>